body{
	font-family: Arial;
	font-size: 13px;
	margin-top:20px;
}
a{
    cursor: pointer;
}
.title{
	font-size: 40px;
	font-weight: bold;
	color: #0072C6;
}
.short-overview{
	font-size: 11px;
	font-style: italic;
}

.topic-header{
	padding-top: 20px;
	font-size: 20px;
	color: #0072C6;
}

.skill{
	width: 80%;
}
.experience{
	width: 33%;
}
.certificate{
	width: 80%;
}
.project{
	font-size:14px;
	font-weight: bold;
}
.project-single-height{
    padding-bottom: 20px;
}
.project-tag{
	font-size:12px;
	font-style: italic;
	text-align: left;
}

@media (min-width: 992px) {
	.project-tag{
		font-size:12px;
		font-style: italic;
		text-align: right;
	}		
}

.hrLine{
	margin-top: 0;
	margin-bottom: 10px;
}

.createSingleList{
	cursor: pointer;
}
.deleteSingleList{
	cursor: pointer;
}

.footer-menu {
    text-align: left;
}

@media (min-width: 992px){
    .footer-menu{
        text-align: right;
    }
}

.enableDisableConsoleLogButton{
    text-align: left;
}

@media (min-width: 992px){
    .enableDisableConsoleLogButton{
        text-align: right;
    }
}

.alert {
    color: #ffffff;
    background-color: #289eca;
    border-color: rgba(255, 255, 255, 0.22);
}